MONGO_URI=mongodb://127.0.0.1:27018/rrv_db?directConnection=true
KAFKA_BOOTSTRAP=localhost:9094
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=rrv_admin
MINIO_SECRET_KEY=rrv_minio_2025
MINIO_BUCKET_RRV=actas-rrv
SMS_SECRET_KEY=clave-secreta-rrv-2025
