MONGO_URI=mongodb://127.0.0.1:27018/rrv_db?directConnection=true
KAFKA_BOOTSTRAP=localhost:9094
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=rrv_admin
MINIO_SECRET_KEY=rrv_minio_2025
OCR_MIN_CONFIDENCE=0.80
