--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: oficial; Type: SCHEMA; Schema: -; Owner: oficial_writer
--

CREATE SCHEMA oficial;


ALTER SCHEMA oficial OWNER TO oficial_writer;

--
-- Name: tipo_observacion_formal; Type: TYPE; Schema: oficial; Owner: oficial_writer
--

CREATE TYPE oficial.tipo_observacion_formal AS ENUM (
    'FALTA_DATOS_APERTURA_CIERRE',
    'MESA_LUGAR_DISTINTO',
    'USO_FORMULARIOS_NO_OFICIALES',
    'PAPELETAS_NO_AUTORIZADAS',
    'AUSENCIA_DELEGADOS',
    'FECHA_INCORRECTA',
    'ERRORES_TRANSCRIPCION',
    'FALTA_FIRMAS_HUELLAS',
    'INCONSISTENCIA_ARITMETICA'
);


ALTER TYPE oficial.tipo_observacion_formal OWNER TO oficial_writer;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acta_oficial; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.acta_oficial (
    id_acta bigint NOT NULL,
    codigo_acta bigint NOT NULL,
    codigo_mesa bigint NOT NULL,
    votos_p1 integer NOT NULL,
    votos_p2 integer NOT NULL,
    votos_p3 integer NOT NULL,
    votos_p4 integer NOT NULL,
    blancos integer NOT NULL,
    nulos integer NOT NULL,
    habilitados integer NOT NULL,
    anfora integer NOT NULL,
    no_usadas integer NOT NULL,
    observacion_formal text,
    tipo_observacion_formal oficial.tipo_observacion_formal,
    fecha_procesado timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT acta_oficial_anfora_check CHECK ((anfora >= 0)),
    CONSTRAINT acta_oficial_blancos_check CHECK ((blancos >= 0)),
    CONSTRAINT acta_oficial_habilitados_check CHECK ((habilitados >= 0)),
    CONSTRAINT acta_oficial_no_usadas_check CHECK ((no_usadas >= 0)),
    CONSTRAINT acta_oficial_nulos_check CHECK ((nulos >= 0)),
    CONSTRAINT acta_oficial_votos_p1_check CHECK ((votos_p1 >= 0)),
    CONSTRAINT acta_oficial_votos_p2_check CHECK ((votos_p2 >= 0)),
    CONSTRAINT acta_oficial_votos_p3_check CHECK ((votos_p3 >= 0)),
    CONSTRAINT acta_oficial_votos_p4_check CHECK ((votos_p4 >= 0))
);


ALTER TABLE oficial.acta_oficial OWNER TO oficial_writer;

--
-- Name: acta_oficial_id_acta_seq; Type: SEQUENCE; Schema: oficial; Owner: oficial_writer
--

CREATE SEQUENCE oficial.acta_oficial_id_acta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE oficial.acta_oficial_id_acta_seq OWNER TO oficial_writer;

--
-- Name: acta_oficial_id_acta_seq; Type: SEQUENCE OWNED BY; Schema: oficial; Owner: oficial_writer
--

ALTER SEQUENCE oficial.acta_oficial_id_acta_seq OWNED BY oficial.acta_oficial.id_acta;


--
-- Name: actas_descartadas; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.actas_descartadas (
    id bigint NOT NULL,
    codigo_acta bigint,
    codigo_mesa bigint,
    razon character varying(100) NOT NULL,
    detalle text,
    payload_json jsonb,
    fecha timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE oficial.actas_descartadas OWNER TO oficial_writer;

--
-- Name: actas_descartadas_id_seq; Type: SEQUENCE; Schema: oficial; Owner: oficial_writer
--

CREATE SEQUENCE oficial.actas_descartadas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE oficial.actas_descartadas_id_seq OWNER TO oficial_writer;

--
-- Name: actas_descartadas_id_seq; Type: SEQUENCE OWNED BY; Schema: oficial; Owner: oficial_writer
--

ALTER SEQUENCE oficial.actas_descartadas_id_seq OWNED BY oficial.actas_descartadas.id;


--
-- Name: departamento; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.departamento (
    codigo integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE oficial.departamento OWNER TO oficial_writer;

--
-- Name: log_inconsistencias; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.log_inconsistencias (
    id_log bigint NOT NULL,
    codigo_acta_intentado bigint NOT NULL,
    codigo_mesa_intentado bigint,
    tipo character varying(50) NOT NULL,
    detalle text NOT NULL,
    payload_json jsonb,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT log_inconsistencias_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['ERROR1'::character varying, 'ERROR2'::character varying, 'ERROR3'::character varying, 'ERROR4'::character varying, 'INCONSISTENCIA_NUMERICA'::character varying])::text[])))
);


ALTER TABLE oficial.log_inconsistencias OWNER TO oficial_writer;

--
-- Name: log_inconsistencias_id_log_seq; Type: SEQUENCE; Schema: oficial; Owner: oficial_writer
--

CREATE SEQUENCE oficial.log_inconsistencias_id_log_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE oficial.log_inconsistencias_id_log_seq OWNER TO oficial_writer;

--
-- Name: log_inconsistencias_id_log_seq; Type: SEQUENCE OWNED BY; Schema: oficial; Owner: oficial_writer
--

ALTER SEQUENCE oficial.log_inconsistencias_id_log_seq OWNED BY oficial.log_inconsistencias.id_log;


--
-- Name: mesa; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.mesa (
    codigo_mesa bigint NOT NULL,
    codigo_recinto bigint NOT NULL,
    nro_mesa integer NOT NULL,
    votantes_habilitados integer NOT NULL,
    CONSTRAINT mesa_votantes_habilitados_check CHECK ((votantes_habilitados >= 0))
);


ALTER TABLE oficial.mesa OWNER TO oficial_writer;

--
-- Name: municipio; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.municipio (
    codigo character varying(10) NOT NULL,
    nombre character varying(100) NOT NULL,
    codigo_provincia character varying(10) NOT NULL
);


ALTER TABLE oficial.municipio OWNER TO oficial_writer;

--
-- Name: partido; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.partido (
    id_partido integer NOT NULL,
    sigla_candidato character varying(10) NOT NULL,
    nombre_candidato character varying(100) NOT NULL,
    sigla_partido character varying(20) NOT NULL,
    color_hex character varying(7) NOT NULL,
    orden_papeleta integer NOT NULL
);


ALTER TABLE oficial.partido OWNER TO oficial_writer;

--
-- Name: provincia; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.provincia (
    codigo character varying(10) NOT NULL,
    nombre character varying(100) NOT NULL,
    codigo_departamento integer NOT NULL
);


ALTER TABLE oficial.provincia OWNER TO oficial_writer;

--
-- Name: recinto; Type: TABLE; Schema: oficial; Owner: oficial_writer
--

CREATE TABLE oficial.recinto (
    codigo_recinto bigint NOT NULL,
    codigo_municipio character varying(10) NOT NULL,
    nombre character varying(255) NOT NULL,
    direccion text
);


ALTER TABLE oficial.recinto OWNER TO oficial_writer;

--
-- Name: acta_oficial id_acta; Type: DEFAULT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.acta_oficial ALTER COLUMN id_acta SET DEFAULT nextval('oficial.acta_oficial_id_acta_seq'::regclass);


--
-- Name: actas_descartadas id; Type: DEFAULT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.actas_descartadas ALTER COLUMN id SET DEFAULT nextval('oficial.actas_descartadas_id_seq'::regclass);


--
-- Name: log_inconsistencias id_log; Type: DEFAULT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.log_inconsistencias ALTER COLUMN id_log SET DEFAULT nextval('oficial.log_inconsistencias_id_log_seq'::regclass);


--
-- Data for Name: acta_oficial; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--



--
-- Data for Name: actas_descartadas; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--

COPY oficial.actas_descartadas (id, codigo_acta, codigo_mesa, razon, detalle, payload_json, fecha) FROM stdin;
\.


--
-- Data for Name: departamento; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--

COPY oficial.departamento (codigo, nombre) FROM stdin;
1	Chuquisaca
2	La Paz
3	Cochabamba
4	Oruro
5	Potos├¡
6	Tarija
7	Santa Cruz
8	Beni
9	Pando
\.


--
-- Data for Name: log_inconsistencias; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--



--
-- Data for Name: mesa; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--



--
-- Data for Name: municipio; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--



--
-- Data for Name: partido; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--

COPY oficial.partido (id_partido, sigla_candidato, nombre_candidato, sigla_partido, color_hex, orden_papeleta) FROM stdin;
1	P1	Daenerys Targaryen	MAS-ISP	#003087	1
2	P2	Sansa Stark	CC	#E63946	2
3	P3	Robert Baratheon	Creemos	#F4A261	3
4	P4	Tyrion Lannister	APB	#2A9D8F	4
\.


--
-- Data for Name: provincia; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--



--
-- Data for Name: recinto; Type: TABLE DATA; Schema: oficial; Owner: oficial_writer
--



--
-- Name: acta_oficial_id_acta_seq; Type: SEQUENCE SET; Schema: oficial; Owner: oficial_writer
--

SELECT pg_catalog.setval('oficial.acta_oficial_id_acta_seq', 5173, true);


--
-- Name: actas_descartadas_id_seq; Type: SEQUENCE SET; Schema: oficial; Owner: oficial_writer
--

SELECT pg_catalog.setval('oficial.actas_descartadas_id_seq', 1, false);


--
-- Name: log_inconsistencias_id_log_seq; Type: SEQUENCE SET; Schema: oficial; Owner: oficial_writer
--

SELECT pg_catalog.setval('oficial.log_inconsistencias_id_log_seq', 178, true);


--
-- Name: acta_oficial acta_oficial_codigo_acta_key; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.acta_oficial
    ADD CONSTRAINT acta_oficial_codigo_acta_key UNIQUE (codigo_acta);


--
-- Name: acta_oficial acta_oficial_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.acta_oficial
    ADD CONSTRAINT acta_oficial_pkey PRIMARY KEY (id_acta);


--
-- Name: actas_descartadas actas_descartadas_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.actas_descartadas
    ADD CONSTRAINT actas_descartadas_pkey PRIMARY KEY (id);


--
-- Name: departamento departamento_nombre_key; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.departamento
    ADD CONSTRAINT departamento_nombre_key UNIQUE (nombre);


--
-- Name: departamento departamento_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.departamento
    ADD CONSTRAINT departamento_pkey PRIMARY KEY (codigo);


--
-- Name: log_inconsistencias log_inconsistencias_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.log_inconsistencias
    ADD CONSTRAINT log_inconsistencias_pkey PRIMARY KEY (id_log);


--
-- Name: mesa mesa_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.mesa
    ADD CONSTRAINT mesa_pkey PRIMARY KEY (codigo_mesa);


--
-- Name: municipio municipio_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.municipio
    ADD CONSTRAINT municipio_pkey PRIMARY KEY (codigo);


--
-- Name: partido partido_orden_papeleta_key; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.partido
    ADD CONSTRAINT partido_orden_papeleta_key UNIQUE (orden_papeleta);


--
-- Name: partido partido_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.partido
    ADD CONSTRAINT partido_pkey PRIMARY KEY (id_partido);


--
-- Name: partido partido_sigla_candidato_key; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.partido
    ADD CONSTRAINT partido_sigla_candidato_key UNIQUE (sigla_candidato);


--
-- Name: provincia provincia_nombre_codigo_departamento_key; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.provincia
    ADD CONSTRAINT provincia_nombre_codigo_departamento_key UNIQUE (nombre, codigo_departamento);


--
-- Name: provincia provincia_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.provincia
    ADD CONSTRAINT provincia_pkey PRIMARY KEY (codigo);


--
-- Name: recinto recinto_pkey; Type: CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.recinto
    ADD CONSTRAINT recinto_pkey PRIMARY KEY (codigo_recinto);


--
-- Name: idx_acta_mesa; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_acta_mesa ON oficial.acta_oficial USING btree (codigo_mesa);


--
-- Name: idx_acta_tipo_obs; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_acta_tipo_obs ON oficial.acta_oficial USING btree (tipo_observacion_formal) WHERE (tipo_observacion_formal IS NOT NULL);


--
-- Name: idx_log_fecha; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_log_fecha ON oficial.log_inconsistencias USING btree (fecha DESC);


--
-- Name: idx_log_tipo; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_log_tipo ON oficial.log_inconsistencias USING btree (tipo);


--
-- Name: idx_mesa_recinto; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_mesa_recinto ON oficial.mesa USING btree (codigo_recinto);


--
-- Name: idx_municipio_provincia; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_municipio_provincia ON oficial.municipio USING btree (codigo_provincia);


--
-- Name: idx_provincia_depto; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_provincia_depto ON oficial.provincia USING btree (codigo_departamento);


--
-- Name: idx_recinto_municipio; Type: INDEX; Schema: oficial; Owner: oficial_writer
--

CREATE INDEX idx_recinto_municipio ON oficial.recinto USING btree (codigo_municipio);


--
-- Name: acta_oficial acta_oficial_codigo_mesa_fkey; Type: FK CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.acta_oficial
    ADD CONSTRAINT acta_oficial_codigo_mesa_fkey FOREIGN KEY (codigo_mesa) REFERENCES oficial.mesa(codigo_mesa);


--
-- Name: mesa mesa_codigo_recinto_fkey; Type: FK CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.mesa
    ADD CONSTRAINT mesa_codigo_recinto_fkey FOREIGN KEY (codigo_recinto) REFERENCES oficial.recinto(codigo_recinto);


--
-- Name: municipio municipio_codigo_provincia_fkey; Type: FK CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.municipio
    ADD CONSTRAINT municipio_codigo_provincia_fkey FOREIGN KEY (codigo_provincia) REFERENCES oficial.provincia(codigo);


--
-- Name: provincia provincia_codigo_departamento_fkey; Type: FK CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.provincia
    ADD CONSTRAINT provincia_codigo_departamento_fkey FOREIGN KEY (codigo_departamento) REFERENCES oficial.departamento(codigo);


--
-- Name: recinto recinto_codigo_municipio_fkey; Type: FK CONSTRAINT; Schema: oficial; Owner: oficial_writer
--

ALTER TABLE ONLY oficial.recinto
    ADD CONSTRAINT recinto_codigo_municipio_fkey FOREIGN KEY (codigo_municipio) REFERENCES oficial.municipio(codigo);


--
-- PostgreSQL database dump complete
--

